@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);  
body{
    font-family: 'Nanum Gothic', sans-serif;  
    font-size:14px;
}
body, h1, h2, h3, h4, h5, h6, p, div, img, span, address, pre, form, fieldset, textarea, input, select, table, th, td{
    margin:0;
    padding:0;
    font-style:normal;
}
fieldset, img{border:none;}
ul, ol{
    margin:0;
    padding:0;
    list-style:none;
}
table{border-collapse: collapse; }
.removeitem{text-indent:-9999em; position:absolute;}
legend{text-indent: -9999em;position:absolute;}
